<div
  class="h-[650px] w-full flex flex-col justify-center relative bg-contain bg-center bg-no-repeat"
  [ngStyle]="{ 'background-image': backgroundUrl }"

>
  <img
    [src]="overlayImageUrl"
    alt="Overlay Image"
    class="absolute inset-0 mx-auto my-auto w-[300px] h-[300px] object-contain z-10"
  />

  <div
    class="absolute top-12 left-1/2 transform -translate-x-1/2 text-white text-lg lg:text-xl text-center font-semibold w-[70%] lg:w-[440px] px-4 py-5"
  >
    {{ currentSlide.title }}
  </div>

  <div
    class="absolute bottom-10 left-1/2 transform -translate-x-1/2 bg-[#92959b] bg-opacity-20 backdrop-blur-lg rounded-lg -ml-6 px-6 py-2.5 w-[80%] lg:w-[415px] flex flex-col"
  >
    <div class="flex justify-between items-center">
      <div class="flex items-center space-x-2">
        <div
          class="w-10 h-10 border border-white bg-transparent rounded-full"
        ></div>
        <p
          class="text-white font-semibold px-6 py-2 border border-white rounded-full -ml-4"
        >
          {{ currentSlide.tag }}
        </p>
      </div>

      <div class="flex space-x-4">
        <button
          class="w-10 h-10 flex items-center justify-center border border-white rounded-full text-white"
          (click)="prevSlide()"
        >
          ←
        </button>
        <button
          class="w-10 h-10 flex items-center justify-center border border-white rounded-full text-white -ml-3"
          (click)="nextSlide()"
        >
          →
        </button>
      </div>
    </div>

    <p class="text-white text-sm mt-4">
      {{ currentSlide.description}}
    </p>
  </div>
</div>
