<div class="bg-[#fcfcfc] rounded-lg gap-0.5 px-4 py-2">
  <div>
    <div class="flex items-center gap-2">
      <h3 class="text-2xl font-bold text-[#040404] capitalize ">Hello, {{ userName }}</h3>
      <img src="assets/animations/hand.gif" alt="Waving hand" class="w-8 h-8 -mt-4" />
    </div>
    <p class="text-sm text-[#9b9b9b]" *ngIf="showSubText">
      {{ subText }}
    </p>
  </div>
  <div
    class="mt-4 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4"
    *ngIf="showMetrics"
  >
    <app-metric
      title="Total Employees"
      [value]="250"
      [changePercentage]="10"
      bgColor="#7301E2"
      iconPath="assets/svg/group.svg"
    />
    <app-metric
      title="Active Employees"
      [value]="200"
      [changePercentage]="10"
      bgColor="#12C16F"
      iconPath="assets/svg/profileAccept.svg"
    />
    <app-metric
      title="On Leave Employees"
      [value]="250"
      [changePercentage]="10"
      bgColor="#E0A800"
      iconPath="assets/svg/delete.svg"
    />
    <app-metric
      title="On Discipline Employees"
      [value]="25"
      [changePercentage]="10"
      bgColor="#DD1212"
      iconPath="assets/svg/delete.svg"
    />
  </div>
</div>
