<div class="fixed inset-0 z-50 flex justify-end bg-[#7f7f7f63]" *ngIf="open">
  <div
    class="bg-white w-full max-w-xl h-full shadow-lg p-8 overflow-y-auto relative animate-slide-in-right"
  >
    <button
      class="absolute top-6 right-6 text-gray-400 hover:text-black text-2xl"
      (click)="onClose()"
    >
      &times;
    </button>
    <h2 class="text-xl text-[#040404] font-semibold mb-6">Create Appraisal</h2>
    <hr class="text-[#ededed] mb-6" />
    <div class="mb-8">
      <h3 class="font-medium text-[#0f0f0f] mb-4">Appraisal Information</h3>
      <div class="grid grid-cols-2 gap-6">
        <div>
          <label class="block text-sm mb-1">Appraisal Period</label>
          <select
            class="w-full border border-green-600 rounded px-3 py-2 ring-0 focus:border-green-600 focus:ring-green-600 selection:bg-green-600 selection:text-white"
            [(ngModel)]="form.period"
          >
            <option value="" disabled selected>Select</option>
            <option *ngFor="let period of quarters" [value]="period">
              {{ period }}
            </option>
          </select>
        </div>
        <div>
          <label class="block text-sm mb-1">Appraisal Average Score</label>
          <input
            class="w-full border rounded px-3 py-2"
            type="text"
            [(ngModel)]="form.average"
            readonly
          />
        </div>
        <ng-container *ngFor="let d of form.details; let i = index">
          <div>
            <label class="block text-sm mb-1">Criteria</label>
            <input
              class="w-full border rounded px-3 py-2"
              type="text"
              [value]="d.criteria"
              readonly
            />
          </div>
          <div>
            <label class="block text-sm mb-1">Score</label>
            <select
              class="w-full border border-green-600 rounded px-3 py-2 ring-0 focus:border-green-600 focus:ring-green-600 selection:bg-green-600 selection:text-white"
              [(ngModel)]="form.details[i].score"
              (ngModelChange)="calculateAverage()"
            >
              <option value="" disabled selected>Select</option>
              <option *ngFor="let s of scores" [value]="s">{{ s }}</option>
            </select>
          </div>
        </ng-container>
      </div>
    </div>
    <div class="flex justify-center gap-4 mt-8">
      <button
        class="border border-green-600 text-green-600 rounded-lg px-8 py-2 font-medium transition hover:bg-green-50"
        (click)="onClose()"
      >
        Cancel
      </button>
      <button
        class="bg-green-600 text-white rounded-lg px-8 py-2 font-medium transition hover:bg-green-700"
        (click)="onSubmit()"
      >
        Submit
      </button>
    </div>
  </div>
  <button
    (click)="onClose()"
    class="absolute right-144 top-1/2 -translate-y-1/2 w-10 h-10 rounded-full bg-white shadow flex items-center justify-center border border-gray-200 hover:bg-green-50 z-50"
    aria-label="Close"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="h-5 w-5 text-gray-500"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M9 5l7 7-7 7"
      />
    </svg>
  </button>
</div>
