<div class="p-2">
  <app-table
    [tableTitle]="'Retrenchment'"
    [tableHeader]="tableHeader"
    [tableData]="employees"
    [showViewAll]="false"
    [showFilter]="false"
    [showStatusTab]="true"
    [statusTabs]="statusTabs"
    [activeStatusTab]="selectedStatus"
    (statusTabChange)="onStatusTabChange($event)"
    [filterTabs]="filterTabs"
    [activeFilterTab]="selectedFilter"
    (filterTabChange)="onFilterTabChange($event)"
    [searchValue]="searchValue"
    (search)="onSearch($event)"
    [tableData]="filteredEmployees"
    [menuItems]="actionButton"
    (menuAction)="onMenuAction($event)"
    [showCalendar]="false"
    [showButton]="shouldShowCreateButton"
    showButtonText="Create Request"
    showButtonIcon="assets/svg/add.svg"
    showButtonStyle="bg-gradient-to-r from-[#12C16F] to-[#0A8754] hover:from-[#0A8754] hover:to-[#12C16F]"
    (showButtonActionClick)="onCreateRetrenchmentRequest()"
    [showList]="false"
  ></app-table>
</div>

<app-employee-details
  [view]="showEmployeeDetails"
  [showButton]="shouldShowModalButtons"
  [noButtonText]="'Reject'"
  [yesButtonText]="'Accept'"
  [yesButtonDisabled]="
    selectedRetrenchmentRecord?.status?.toUpperCase() === 'APPROVED'
  "
  [noButtonDisabled]="
    selectedRetrenchmentRecord?.status?.toUpperCase() === 'REJECTED'
  "
  (confirm)="actionToPerform($event)"
  (close)="showEmployeeDetails = false"
  [employee]="selectedEmployeeRecord"
  [employeeDetails]="selectedEmployeeDetails"
  [retrenchmentData]="selectedRetrenchmentRecord"
  [allRetrenchments]="selectedEmployeeRetrenchments"
></app-employee-details>

<app-confirm-prompt
  *ngIf="showModal"
  [title]="promptConfig?.title || ''"
  [text]="promptConfig?.text || ''"
  [imageUrl]="promptConfig?.imageUrl || null"
  [yesButtonText]="promptConfig?.yesButtonText || ''"
  [noButtonText]="promptConfig?.noButtonText || ''"
  (confirmed)="onModalConfirm($event)"
  (closed)="onModalClose()"
  [data]="selectedEmployeeRecord"
></app-confirm-prompt>

<app-loading-overlay
  [isVisible]="isLoading"
  [title]="loadingTitle"
  [message]="getLoadingMessage"
></app-loading-overlay>

<!-- Create Retrenchment Request Component -->
<app-leave-details
  [view]="showCreateRetrenchmentRequest"
  [isRetrenchment]="true"
  [mode]="'create'"
  [title]="'Create Retrenchment Request'"
  [leaveType]="'Retrenchment'"
  (close)="onCloseCreateRetrenchmentRequest()"
  (submit)="onCreateRetrenchmentRequestSubmitted($event)"
></app-leave-details>
