.active-link {
  background-color: #12C16F;
  color: white;
}
.active-link-child {
  color: #12C16F;
  
}

.menu-item a:hover {
  background-color: #12C16F;
  color: white;
}

.menu-item button:hover {
  background-color: #12C16F;
  color: white;
}
  