<div class="flex flex-col gap-4 p-2">
  <app-dashboard-greetings
    [userName]="'Overview'"
    [showSubText]="false"
  ></app-dashboard-greetings>
</div>
<div class="grid grid-cols-1 lg:grid-cols-10 gap-4 p-2">
  <div class="lg:col-span-6">
    <app-bar-chart></app-bar-chart>
  </div>
  <div class="lg:col-span-4">
    <app-doughnut-chart></app-doughnut-chart>
  </div>
</div>
<div class="grid grid-cols-1 lg:grid-cols-10 gap-4 p-2">
  <div class="lg:col-span-6">
    <app-bar-chart></app-bar-chart>
  </div>
  <div class="lg:col-span-4">
    <app-pie-chart
    title="Document"
    [series]="[40, 50, 10]"
    [labels]="['20 - 39', '40 - 59', '60 - 75']"
    [colors]="['#F6A24E', '#9747FF', '#32D583']"
    ></app-pie-chart>
  </div>
</div>
