<div class="p-2">
    <app-table
      [tableTitle]="'Promotion'"
      [tableHeader]="tableHeader"
      [tableData]="employees"
      [showViewAll]="false"
      [showFilter]="false"
      [showStatusTab]="true"
      [statusTabs]="statusTabs"
      [activeStatusTab]="selectedStatus"
      (statusTabChange)="onStatusTabChange($event)"
      [filterTabs]="filterTabs"
      [activeFilterTab]="selectedFilter"
      (filterTabChange)="onFilterTabChange($event)"
      [searchValue]="searchValue"
      (search)="onSearch($event)"
      [tableData]="filteredEmployees"
      [menuItems]="actionButton"
      (menuAction)="onMenuAction($event)"
    ></app-table>
  </div>